/.DS_Store
utils/preprocessing/__pycache__/CarDatabase.cpython-312.pyc
.gitignore
utils/preprocessing/__pycache__/Preprocessor.cpython-312.pyc
.gitignore
utils/preprocessing/__pycache__/Preprocessor_divided.cpython-312.pyc
utils/model_evaluation/__pycache__/regression_evaluation.cpython-312.pyc
.gitignore
utils/model_submission/__pycache__/model_submitter.cpython-312.pyc
utils/feature_selection/__pycache__/feature_selection.cpython-312.pyc
.gitignore
utils/preprocessing/__pycache__/Cardinal_Preprocessor.cpython-312.pyc
utils/model_selection/__pycache__/model_selection.cpython-312.pyc
utils/data_exploration/__pycache__/data_exploration.cpython-312.pyc
Submission/20251029_random_forest_submission_model.pkl
Data/.DS_Store
.gitignore
Data/train.csv
Data/test.csv
Data/.DS_Store
